<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {% include 'blog/partials/_head.html' %}
</head>
<body>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Hoc loco discipulos quaerere videtur, ut, qui asoti esse velint, philosophi ante fiant. Quare hoc videndum est, possitne nobis hoc ratio philosophorum dare. Haec para/doca illi, nos admirabilia dicamus.</p>
    <h1>Exemplo: {{ site_setup.title }}</h1>

    {% include 'blog/partials/_header.html' %}

    {% block content %}{% endblock content %}

    {% include 'blog/partials/_pagination.html' %}

    {% include 'blog/partials/_footer.html' %}
</body>
</html>